body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-style:normal;
}

a:link {
  color:#B22222;
  text-decoration:none;
}

a:visited {
  color:#B22222;
  text-decoration:underline;
}

a:hover {
  color:#B22222;
  text-decoration: underline;
}

a:active {
  color:#B22222;
  text-decoration:underline;
}

.corpo {
  text-align: left;
  overflow: hidden;
  padding: 10px;
  max-width: 700px;
  margin: auto;
}

hr {
  border-bottom: 1px;
}

blockquote {
  font-style:normal;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-left: 10px;
  border-left: 3px solid #B5B5B5;
}

.uncopyright {
  text-align: center;
  font-size: 14px;
}

.menu {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
