body {
  font-family: 'Lora', serif;
  color: #363636;
}

a:link {
  color:#B22222;
  text-decoration:none;
}

a:visited {
  color:#B22222;
  text-decoration:underline;
}

a:hover {
  color:#B22222;
  text-decoration: underline;
}

a:active {
  color:#B22222;
  text-decoration:underline;
}

.corpo {
  text-align: center;
  overflow: hidden;
  padding: 5px;
  max-width: 600px;
  margin: auto;
}

.texto {
  text-align: left;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.listapostsanteriores {
  text-align: center;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.postsanteriores {
  font-size: 18px;
  font-weight: bold;
}

.autor {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  font-size: 18px;
  font-weight: bold;
}

hr {
  border-bottom: 1px;
}

h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 36px;
  font-weight: 700;
}

h5 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}

blockquote {
  font-family: 'Lora', serif;
  font-style:italic;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-left: 10px;
  border-left: 3px solid #B5B5B5;
  color: #363636;
}
