body {
  font-family: 'Lora', serif;
  color: #333333;
}

a:link {
  color:#006699;
  text-decoration:none;
}

a:visited {
  color:#006699;
  text-decoration:underline;
}

a:hover {
  color:#006699;
  text-decoration: underline;
}

a:active {
  color:#006699;
  text-decoration:underline;
}

.corpo {
  text-align: center;
  overflow: hidden;
  padding: 5px;
  max-width: 600px;
  margin: auto;
}

.texto {
  text-align: left;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.listapostsanteriores {
  text-align: center;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.postsanteriores {
  font-size: 18px;
  font-weight: bold;
}

.autor {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  font-size: 18px;
  font-weight: bold;
}

hr {
  border-bottom: 1px;
}

h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 36px;
  font-weight: 700;
}
